server:
  port: 8080
  servlet:
    context-path: /spotify

spring:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  datasource:
    url: jdbc:mysql://localhost:3306/spotify
    driverClassName: "com.mysql.cj.jdbc.Driver"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SMTP_USERNAME:hodanghoang2003@gmail.com}
    password: ${SMTP_PASSWORD:svclbhpapszfodqr}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: springtunes-group
      auto-offset-reset: earliest

jwt:
  signerKey: "b2yoP+BXkNpTkT3UA7TSAHxqoLxuzgZIRmscynx2zbm5PHbtt3U+JB5N1G6AIrNg"
  valid-duration: 3600
  refreshable-duration: 7200

cloudinary:
  cloud-name: "dfsoeiui1"
  api-key: ${KEY_CLOUD}
  api-secret: ${SECRET_CLOUD}